﻿@font-face {
    font-family: DINpro-M;
    src: url(../din/DINpro-Medium.otf);
}


@font-face {
    font-family: DINpro-R;
    src: url(../din/DINpro-Regular.otf);
    font-weight: regular;
}
/*@font-face {
    font-family: DINpro-B;
    src: url(../din/DINpro-Black.otf);
    font-weight: black;
}*/

@font-face {
    font-family: DINpro-B;
    src: url(../din/DINpro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: DINpro-L;
    src: url(../din/DINpro-Light.otf);
}



h2, h3 {
	font-family: DINpro;
	color: #EC1C24;
}

h2 {
	font-size:  26px;
	margin-bottom: 45px;
}

h3{
	font-size: 21px;
	margin-top: 0;
	/*margin-bottom: 45px;*/
}



#slider1_container{
		margin-bottom: 120px;
}

.odmiktop{
	margin-top:5%;
	}

.pictureAlign{
	padding-top:10%;
	}
	
.pictureAlign2{
	padding-top:5%;
}


	
/*Za tekst na sliki*/
#tagline {
	position: absolute;
	width: 100%;
	height: 160px;
	top: 440px;
	left: 0;
	padding: 10px;
	padding-top: 40px;
	padding-left: 350px;
	background-image: url('../resources/home/header-background.png');
	background-repeat-x;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

#landpagesicons{
	background-color:#d0d0d0;
	width:100%;
	padding:0;
	margin:0;
	}
	
#landicons{
	margin-left:355px;
}

#landicons img{
	height:18%;
	width:18%;
	margin-right:5%;
	margin-bottom:5%;
	margin-top:5%;
	}


.hd {
	position: fixed;
	top: 0;
	left:0;
	right:0;
	width: 100%;
	height: 45px;
	z-index: 1;
	background: #D0D0D0;
}

.head-logo {
	float: left;
	position:fixed;
	z-index: 3;
	margin-left: 45px;
	line-height: 45px;
}

.head-logo img {
	width: 180px;
}

/* tole je bil včasih gumb za na priročnik homepage*/
/*
.top_head {
	position: fixed;
	width: 100%;
	background: #D0D0D0;
	text-align: right;
	line-height: 45px;
}

.top_head a {
	color: white;
}
*/
.cist_vrh a {
	color: #8C8C8C !important;
}

.cist_vrh {
	margin-right: 90px;
}

.vrh_link {
	float: right;
	text-align:right;
	margin-right: 25px;
}

.kontakt_vrh {
	float: right;
	margin-right: 25px;
}

.jezik {
	float: right;
}

#bel_header {
	padding-top: 20px;
	color: #8C8C8C;
	position: fixed;
	height: 220px;
	background-color: white;
	z-index: 100;
	top: 0;
	width: 99vw;
/*
	border-bottom: solid 1px #A6A6A6;
*/
}

#bel_headers{
	padding-top: 20px;
	color: #8C8C8C;
	position: static;
	height: 100px;
	background-color: white;
	z-index: 100;
	top: 0;
	width: 99vw;
}

#bel_header a {
	color: #ec1c24;
}

#bel_header a:hover {
	text-decoration: none;
}

.top_logo_green img {
	width: 300px;
	margin-left: 45px;
	margin-top: 70px;
}

.top_logo img {
	width: 300px;
	margin-left: 43px;
	margin-top: 70px;
}

.landing_meni {
	font-size: 13pt;
	margin-right: 232px;
	color: #ec1c24;
	float: right;
	margin-left: 25px;
	margin-top: 5px;
	padding-top: 8px;
	border-top: 1px solid #EC1C24;
}

/*
.landing_meni {
	font-size: 13pt;
}


.landing_meni ul {
	margin-right: 232px;
	color: #ec1c24;
}


.landing_meni li {
	float: right;
	margin-left: 25px;
	margin-top: 5px;
}

.landing_en {
	padding-top: 8px;
	border-top: 1px solid #EC1C24;
}*/

#farm {
	width: 78px;
}

#indust {
	width: 105px;
}

#agri {
	width: 80px;

}

#glavna {
	width: 95px;
}

.glavna_sekcija p {
	font-size: 21px;
}

#uporabniskivmesnik{
	margin-top: 10%;	
}

#podjetje {
	padding-top:5%;
}

#social {
	float: right;
	margin-bottom: 40px;
	width: 150px;
}

#social img {
	float: left;
	height: 40px;
	width: 40px;
}

#social p {
	float: right;	
}

#sensors, #software, #install, #reference {
	padding-top: 1px;
}

#use {
/*
	padding-top: 1px;
*/
}

footer {
	background-color: #A6A6A6;
	width: 100vw;
	height: 500px;
	font-size: 12pt;
	color: white;
	margin-top: -250px;
}

#levo_foot {
	margin-top:20px;
	width: 400px;
	float:left;
	/*margin-left: -60px;*/
}

#levo_foot img {
	margin-bottom: 80px;
}

#foot_levo {
	/*border-right: 1px solid #cccccc;*/
	margin-bottom: 40px;
}

#footer_logo {
	width: 170px;
	margin-bottom: 40px;
}

#desno_foot {
	margin-top:-270px;
}

.copyright {
	padding-top: 40px;
	font-size: 9pt;
	border-top: 1px solid #cccccc;
	height: 40px;
}

.ikonce_tekst {
	margin-top: 7px;
}

#desno_foot img{
	width: 40px;
	margin-bottom: 12px;
	margin-right: 10px;
	float: left;
}


#navpicna {
	width: 1px; 
	height: 190px; 
	margin-left: 300px; 
	margin-top: -192px;
}

* {
	margin: 0;
	font-family: DINpro-R !important;
}
html, body {
	height: 100%;
	background: #ffffff;
}
body {
	
	overflow-x: hidden;
}

ol {
	list-style-type: decimal;
}

section {
	margin-bottom: 100px;
}

/*.menu_stran li {
	margin-bottom: 30px;
	text-align: left;
}

.menu_stran {
	 margin-top: 50px;
	 list-style-position: inside;
	 font-family: DINpro;
	 font-weight: bold;
	 font-size: 45px;
	 padding-left: 30%;
	 color: #a6a8ab;	 
}
*/


.white {
	color: white;
}

.ex-header {
	background-color: white;
	margin-left: 5%;
	margin-top: 30px;
	padding-top: auto !important; 
}

a {
	text-decoration: none;
}

a #link {
	color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

a:active {
	font-weight: bold;
}

#top-image {
	margin: 30px;
}

#wrapper {
    width: auto;
/*    background: #A6A6A6; */
/*
    overflow: auto;
*/
    overflow: hidden;
    z-index: 1;
    min-height: 100%;
	margin: 0px auto; /* the bottom margin is the negative value of the footer's height */

}

#okno1{
	padding-left: 75px;
	width: 70%;
	margin-top:10%;
}

#wrapper img {
	width: 100%
}

#wrapper1 {
	font-size: 20px;
    background: #D0D0D0; 
    overflow: hidden;
    z-index: 1;
	width:100%;
	padding-bottom:100px;
	margin-bottom: 100px;
}

.dafuk {
	background-color: #000000;	
}

#page-content-wrapper {
	height: auto;
    background: #fff;
    color: #a6a8ab;
    font-size: 20px;
    font-family: DINpro;
}

#sidebar-wrapper {
	top: 260px;
	position: fixed;
}

.sidebar-nav li a {
	color: #8C8C8C;
}

.row img{
	margin-bottom: 30px;
}

.slikce img{
	margin-top: -15px;
}

#slikce p{
	margin-top: -5px;
}

.gray {
	background-color: #f2f2f2;
}

#poslji {
	background-color: #d0d0d0;
	color: #eb232b;
	font-weight: bold;
	width: 100%;
	height: 70px;
	border: none;
}

.kontakt_obrazec {
	font-size: 12pt;
	color: black;
	margin-bottom: 8px;
	border: none;
	width: 100%;
}

.kontakt_obrazec[type=text] {
	width: 100%;
	/*width: 318px; */
	padding: 8px;
}

#obrazec{	
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom: 250px;
}

#obrazec p {
	padding-bottom: 20px;	
}

.obrazec_cont {
	width: 100vw; 
	background-color: #f2f2f2;
}

.alinea li:before {
	content:"-"; 
	position:relative; 
	left:-5px;
}

.alinea li {
	text-indent:-5px;
	margin-bottom: 8px;
}

#vsebina_obrazec {
	overflow: hidden; 
	border:none; 
	resize: none;
	padding: 8px;
}

::-webkit-input-placeholder {
   color: #EC1C24;
}

:-moz-placeholder { /* Firefox 18- */
   color: #EC1C24;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #EC1C24;  
}

:-ms-input-placeholder {  
   color: #EC1C24;  
}

.small_print {
	font-size: 9pt;
	margin-top: -10px;
	
}



@media (min-width: 993px) {
	
	#wrapper1 {
		padding-left: 280px;		
	}
	
	#okno1{
		width: 70%;
		margin-top:10%;
	}
	
	#slider1_container{
	margin-bottom:120px;
	}

	#sidebar-knof {
		display: none;
	}

	.kvadrat_2 img {
		width: 380%;
		margin: 10%;
	}

	.kvadrat_2 {
		width: 7%;
	}
	
	#page-content-wrapper {
		padding-left: 75px;
		width: 70%;
	}
	
	#obrazec {
		padding-left: 355px;
		width: 75%;
	}
	
	#podjetje {
		padding-left: 345px;		
		width: 75%;
	}
	
	#poslji {
		margin-left: -30px;
		margin-top: -12px;
	}
		
	.mid img {
		margin-left: 175%;
	}
	.end img {
		margin-left: 395%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px)  {
	
	#okno1{
		width: 90%;
	}
	
	#obrazec {
		padding-left: 30px;
		width: 90%;
	}
	
	#podjetje {
		width: 90%;
		padding-left:20px;		
	}
	
	#poslji {
		margin: 0;
	}
	
	#landicons{
	margin-left:75px;
	}
	
	#landicons img{
		height:25%;
		width:25%;
	}
	
	#menupuscica{
		display:none;
	}
	
	
	#sidebar-knof {
/*
		display: inline-block;
*/

	padding: 10px;
/*		margin-left: 15px;
	/*za gumb izven headerja*/
	/*margin-top: 45px;*/
	margin-top: 4px;
	float: left;
	z-index: 90;
	position: fixed;
    }
    

    #top-image {
		margin-left: 80px;
    }
    .row {
		display: inline-block;
    }
    .sidebar-nav {
		position: absolute;
		z-index: 33;
    }
	
	#page-content-wrapper {
		position: relative;
		margin-left: 30px;
		width: 90%;
	}

}

@media only screen and (max-width:768px) {

	#okno1{
		padding-left: 30px;
		width: 100%;
	}
	
	#slider1_container{
		margin-bottom:120px;
	}
		
	#obrazec{
		padding-left: 30px;
		width: 85%;
	}
	
	#podjetje {
		width: 85%;
		padding-left:20px;		
	}
	
	#poslji {
		margin-top: 10px;
	}
	
		
	#landicons img{
		height:23%;
		width:23%;
	}
	
	#landicons{
		margin-left:75px;
	}
	
	#menupuscica{
		display:none;
	}
	
	
	#sidebar-knof {
	/* display: inline;
	*/
	padding: 10px;
	/*****ZAKOMENTIRANO JE ZA GUMB POD HEADERJEM
	margin-left: 15px; 
		
	margin-top: 45px;*/
	margin-top: 4px;
	float: left;
	z-index: 100;
	position: fixed;
	
    }
    #top-image {
		margin-left: 80px;
    }

    .sidebar-nav {
		position: absolute;
		z-index: 33;
    }
	
	#page-content-wrapper {
		position: relative;
		overflow: hidden;
		width: 85%;
		margin-left: 30px;
		
	}

    .row {
		display: inline-block;
    }
    
    #velik_logo {
		width: 150%; 
	}
	
	.kvadrat_2 {
		margin: auto;
		float: none;
		display:inline-block;
	}
	
	.glavna_sekcija p, .alinea {
		font-size: 13pt;
	}
	
	
	.pictureAlign{
		padding-top:5%;
	}
	
	.pictureAlign2{
		padding-top:1px;
	}
}

     .sidebar-nav {
		margin-left:28px;
    }


.black {
	color: black;
}

.kvadrat_2 img {
	margin: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;	
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

