/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */



#menupuscica{
	position:fixed;
	background:url(../resources/home/puscica.png) no-repeat 0px 10px;
	width:13px;
	height:40px;
	}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 260px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 260px;
    width: 0;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 260px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
  /*  padding: 15px; */
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -260px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    /*padding-bottom: 180px;
    border-right-style: solid;
    border-right-width: 1px;*/
}

.sidebar-nav li {
    text-indent: 20px;
    font-size: 18px;
    line-height: 45px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    font-weight: bold;
	color: #EC1C24;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 280px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
